.scada-container {
    display: flex;
    flex-direction: row; /* Apilar los elementos uno sobre otro */
}

.video-container {
    flex: 1;
    margin-right: 10px;

    .video {
        margin: 15px 0 10px 0;
        width: 100%;
    }
}

.process-container {
    flex: 3;
}
